<li>{{type}}

	<button class="change" data-id="{{id}}" data-newate="{{ate}}">
		{{#if ate}}Un-eat{{else}}eat{{/if}}
	</button>


	<button class="delete-burger" data-id="{{this.id}}">Delete</button>


</li>